<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- these should be "pushed" in (eg: azure app settings) -->
    <add key="GamerTokenList" value="2533274794076251" />
    <add key="SlackEndPoint" value="https://hooks.slack.com/services/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" />
    <add key="XBoxAPIAuthToken" value="dde92be79050e4f281ecafabbe3e9171e5d97905" />
    <add key="SlackChannelOverride" value="@brian" />
    <add key="PollingInterval" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>